<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class = "wrapper">
        <h1>All Users</h1>
        <table>
            <thead>
                <tr>
                    <th>First name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>Age</th>
                </tr>
            </thead>
            <tbody>
                {% for users in all_users %}
                <tr>
                    <td>{{ users.first_name }}</td>
                    <td>{{ users.last_name }}</td>
                    <td>{{ users.email_address }}</td>
                    <td>{{ users.age }}</td>
                </tr>
                {% endfor %}
                    
            </tbody>
        </table>
        <h3>Add a user</h3>
        <div class="form">
            <form action = "/create" method="POST">
                {% csrf_token %}
                    <p>
                        <label for="first_name">First name: </label>
                        <input type="text" id="first_name" name="first_name">
                        <label for="last_name">Last name: </label>
                        <input type="text" id="last_name" name="last_name">
                    </p>
                    <p>
                        <label for = "text" id ="email_address">Email: </label>
                        <input type="text" id="email_address" name = "email_address">
                        <label for = "text" id ="age">Age: </label>
                        <input type="text" id="age" name = "age">
                    </p>
                    <p><button>Add</button>
            </form>
        </div>
    </div>
</body>
</html>